@import '../../style/themes/default';

@menu-prefix-cls: ~'@{c7n-prefix}-menu';

// TODO: 待处理 细节
.@{menu-prefix-cls}-wrapper-rtl {
  direction: rtl;
}

.@{menu-prefix-cls}-popup-rtl {
  direction: rtl;
}
