@import '../../style/themes/default';

@popover-prefix-cls: ~'@{c7n-prefix}-popover';

.@{popover-prefix-cls}-wrapper-rtl {
  direction: rtl;

  .@{popover-prefix-cls}-title {
    text-align: right;
  }
}
